<%- include("../partials/header") %>

<div class="about ui main text container">
	<div class="ui huge header">Add Comment to <%= hike.name %></div>
		<form class ="ui form" action ="/hikes/<%= hike._id %>/comments" method="POST">
			<div class="field">
				<textarea name="comment[text]" placeholder="Comment"></textarea>
			</div>
			<input class="ui teal button" type="submit">
			<a href="/hikes/<%=hike._id %>" class="ui orange button">Cancel</a>
		</form>
</div>

<%- include("../partials/footer") %>